@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  font-family: "VT323", monospace;
}

body {
  min-height: 100vh;
  background-color: #000e1f;
  display: grid;
  place-content: center;
  margin: 0;
  padding: 0;
}

span,
p,
h1,
h2,
h3,
h4,
h5 {
  color: #e8f3ff;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}
